# environment variables
.env
.env*.local
.dev.vars*

# dependencies
node_modules
.pnp
.pnp.js

# build
dist
.next
out
output

# testing
coverage

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# turbo
.turbo

# cloudflare
.wrangler
dist-worker

# vercel
.vercel

# ide
.idea

# tools
.playwright-cli
