ipython==9.11.0
python-lsp-server==1.14.0

numpy==2.4.3
pandas==3.0.1
scipy==1.17.1
scikit-learn==1.8.0
sympy==1.14.0
sqlalchemy==2.0.48

openpyxl==3.1.5
xlsxwriter==3.2.9
xlrd==2.0.2
python-docx==1.2.0
pypdf==6.9.1

matplotlib==3.10.8
seaborn==0.13.2
plotly==6.6.0
pillow==12.1.1

requests==2.32.5
beautifulsoup4==4.14.3
lxml==6.0.2
tabulate==0.10.0
